<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>GroupDocs .NET SDK Samples</title>
	<link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
    <div style="padding:20px; text-align:center;"><h2><a href="/samples">GroupDocs .NET SDK Samples</a></h2></div>
    @Html.Partial("links")
    <center><span><a href="http://groupdocs.com">GroupDocs</span></center>
</body>
</html>